@mixin display-flex(){
  display: flex;
}


@mixin row-center(){
  @include display-flex();
  align-items: center;
    justify-content: center;
  }

  @mixin column-center(){
    @include display-flex();
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @mixin space-between-center(){
    @include display-flex();
    align-items: center;
    justify-content: space-between;

  }

  @mixin flex-column(){
    @include display-flex();
    flex-direction: column;
  }


  